h1= title
div(id="mainBlock")
    p(id="answer")
        | (Correct answer will be displayed here.)
    div(id="blocks")
        span(id="quarter", class="addRhythm", rhythm="q") Quarter note
        span(id="eighth", class="addRhythm", rhythm="ee") Eighth notes
        span(id="sixteenth", class="addRhythm", rhythm="ssss") Sixteenth notes
    div(id="playback")
        span(id="playButton")
            | Play
        span(id="soFar") _ _ _ _
        span(id="smileyface")
    div(id="commands")
        span(id="newButton") New
        span(id="repeatButton") Repeat
        span(id="giveupButton") Give up
        span(id="backspace") Backspace